.product {
  display: flex;
  margin: 20px;
  border-bottom: 1px solid #ddd;
}
.product img {
  margin-right: 10px;
  display: block;
}
.product h3 {
  font-weight: 400;
  color: blue;
}
.product .btn-regular {
  background-color: gold;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 5px 0;
  cursor: pointer;
}
.icon-color{
  color: gold;
}